.venv/
*.pyc
static/
!corpsey/static
wrk/
virtualenv.py
src/
.DS_Store
codekit-config.json
build/*
corpsey/settings_production.py
corpsey/settings_local.py
config.codekit3
*.map
bower_components
logfile
node_modules
