{% extends "base.html" %}
{% load thumbnail %}

{% block body_id %}contribute-page{% endblock %}
{% block title %}Contribute to The Infinite Corpse!{% endblock %}

{% block content %}
<h1>Contribute to The Infinite Corpse!</h1>
<div class="user-content">
    {{ page.content|safe }}
</div>
{{ message }}
<form class="contribute" action="{% url contribute %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {{ form.non_field_errors }}

        <label for="id_panel1" class="required">{{ form.panel1.label_tag }}</label> 
        {{ form.panel1 }}
        {{ form.panel1.errors }}

        <label for="id_panel2" class="required">{{ form.panel2.label_tag }}</label> 
        {{ form.panel2 }}
        {{ form.panel2.errors }}

        <label for="id_panel3" class="required">{{ form.panel3.label_tag }}</label> 
        {{ form.panel3 }}
        {{ form.panel3.errors }}

        <label for="id_name" class="required">{{ form.name.label_tag }}</label> 
        {{ form.name }}
        {{ form.name.errors }}

        <label for="id_email" class="required">{{ form.email.label_tag }}</label> 
        {{ form.email }}
        {{ form.email.errors }}

        <label for="id_website">{{ form.website.label_tag }}</label> 
        {{ form.website }}
        {{ form.website.errors }}

        {{ form.parent_id.as_hidden }}

    <div class="actions"><input type="submit" value="Upload" /></div>
</form>
{% endblock content %}

{% block extra_javascript %}
  <script src="{{ STATIC_URL }}js/contribute.js" type="text/javascript"></script>
{% endblock extra_javascript %}
