{% load thumbnail %}

{% if contribution.panel1 %}
<div class="queue" data-contribution-id="{{ contribution.id }}" id="contribution-{{ contribution.id }}">
	<article class="comic" data-comic-id="{{ comic.id }}">
	  <h1>Following {{ comic.artist.name }}</h1>
	  <a target="_blank" href="{% if comic.parent %}/catacombs/{{ comic.parent.id }}/{{ comic.id }}/{% else %}{{ comic.get_absolute_url }}{% endif %}">{% if comic.panel1 %}<img class="panel" src="{{ comic.panel1.midsize.url }}">{% endif %}{% if comic.panel2 %}<img class="panel" src="{{ comic.panel2.midsize.url }}">{% endif %}{% if comic.panel3 %}<img class="panel" src="{{ comic.panel3.midsize.url }}">{% endif %}</a>
	  </ul>
	</article>

	<article class="contribution" data-contribution-id="{{ contribution.id }}">
	  <h1>Contribution from: {% if contribution.website %}<a target="_blank" href="{{ contribution.website }}">{{ contribution.name }}</a>{% else %}{{ contribution.name }}{% endif %} &lt;{{ contribution.email }}&gt;</h1>
	  <ul>
	    <li>{% if contribution.panel1 %}<img class="panel" src="{{ contribution.panel1.midsize.url }}" width="{{ contribution.panel1.midsize.width }}" height="{{ contribution.panel1.midsize.height }}">{% else %}No image for panel 1{% endif %}</li>
	    <li>{% if contribution.panel2 %}<img class="panel" src="{{ contribution.panel2.midsize.url }}" width="{{ contribution.panel1.midsize.width }}" height="{{ contribution.panel1.midsize.height }}">{% else %}No image for panel 2{% endif %}</li>
	    <li>{% if contribution.panel3 %}<img class="panel" src="{{ contribution.panel3.midsize.url }}" width="{{ contribution.panel1.midsize.width }}" height="{{ contribution.panel1.midsize.height }}">{% else %}No image for panel 3{% endif %}</li>
	  </ul>
	</article>

	{% if user.username == 'nate' or user.username == 'aaron' %}
		{% if contribution.votes.all %}
			<h2>Votes:</h2>
			{% for vote in contribution.votes.all %}
		        <li>{{ vote }}</li>
			{% endfor %}
		{% endif %}
		<p><a onclick="return confirm('Are you sure? This alters the original images and adds 20px of white padding.')" target="_blank" href="/pad_panels/{{ contribution.id }}/">Add Padding to Panels</a></p>
	{% endif %}

	<div class="actions">
		<a class="button yea" href="/contributions/vote/{{ contribution.id }}/1/">Yea</a>
		<a class="button nay" href="/contributions/vote/{{ contribution.id }}/0/">Nay</a>
	</div>
</div>
{% endif %}