{% extends "base.html" %}
{% load thumbnail icanhaz %}

{% block body_id %}contribute-page{% endblock %}
{% block title %}Contribute to The Infinite Corpse!{% endblock %}

{% block content %}

{% if message %}
  <div class="notice"><p>{{ message }}</p></div>
{% endif %}

{% if step == 1 %}
<section id="step1" class="step">
  <div class="user-content">
      <h1>{{ page.title|safe }}</h1>
      {{ page.content|safe }}
  </div>

  <form class="contribute" action="{% url contribute %}" method="post">
    <h2>Your parent strip:</h2>
    <div id="parent_comic">
        {% include "comics/strip.html" with comic=parent_comic %}
    </div>
    <p><a class="new-leaf refresh" href="#">Give me another random strip to follow</a></p>

      {{ contribute_form.name }}
      {% if contribute_form.name.errors %}
         <div class="field-error">{{ contribute_form.name.errors }}</div>
      {% endif %}

      {{ contribute_form.email }}
      {% if contribute_form.email.errors %}
         <div class="field-error">{{ contribute_form.email.errors }}</div>
      {% endif %}

      <div class="hidden">{{ contribute_form.comic_id }}</div>
      {% csrf_token %}

    <div class="actions">
      <button class="button" type="submit">Yes! I'd like to reserve my spot after this panel!</button>
      <p class="note">Remember! You have 4 days to submit your follow up panels ({{ deadline|date:'l, M j' }}). You can only reserve one spot at a time.</p>
    </div>
  </form>
</section>
{% else %}
<section id="step2" class="step {% if step == 1 %}hidden{% endif %}">
    <div class="user-content">
        <h1>{{ page2.title|safe }}</h1>
        {{ page2.content|safe }}
    </div>
</section>
{% endif %}
{% endblock content %}

{% block extra_javascript %}
  <script src="{{ STATIC_URL }}js/icanhaz.min.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/jquery.history.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/jquery.cookie.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/jquery.validate.min.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/contribute.js" type="text/javascript"></script>

  {% icanhaz "comic_single" %}
{% endblock extra_javascript %}
