{% extends "base.html" %}
{% load thumbnail %}

{% block body_id %}contributions{% endblock %}

{% block content %}
  <h2>Pending Contributions</h2>
  {% for contribution in contributions %}
    {% include "comics/contribution.html" with contribution=contribution comic=contribution.comic %}
  {% empty %}
  	<p>No contributions found that you ({{ user.username }}) haven't voted on.</p>
  {% endfor %}
{% endblock content %}

{% block extra_javascript %}
  <script src="{{ STATIC_URL }}js/contributions.js" type="text/javascript"></script>
{% endblock extra_javascript %}
