{% extends "base.html" %}
{% load thumbnail static %}

{% block body_id %}contribute-page{% endblock %}
{% block title %}Contribute to The Infinite Corpse!{% endblock %}

{% block content %}

    {% if message %}
        <div class="notice"><p>{{ message|safe }}</p></div>
    {% endif %}

    {% if form %}
    <section id="contribute-form" class="step {% if not contribution.has_panels %}active{% endif %}">
        <div class="user-content">
            <h1>{{ page.title|safe }}</h1>
            {{ page.content|safe }}
        </div>

        <h2>Your parent strip:</h2>
        <div id="parent_comic">
            {% include "comics/strip.html" with comic=parent_comic %}
        </div>

        <form id="contribute" class="contribute" action="{% url 'contribute-upload' upload_code %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form.non_field_errors }}
                  <div class="dropzone">
                    <div class="dz-previews"></div>
                    <div class="dz-default dz-message"><span class="no-touch">Drag images here or </span><a class="button dz-clickable">Select images to upload</a></div>
                    <div class="dz-drag-message">Drag images to reorder.</div>
                    <div class="fallback">{{ form.comic_panels }}</div>
                  </div>
                  {% if form.comic_panels.errors %}
                     <div class="field-error">{{ form.comic_panels.errors }}</div>
                  {% endif %}
                <fieldset class="info">
                    <label for="id_name" class="required">{{ form.name.label_tag }}</label>
                    {{ form.name }}
                    {% if form.name.errors %}
                       <div class="field-error">{{ form.name.errors }}</div>
                    {% endif %}

                    <label for="id_email" class="required">{{ form.email.label_tag }}</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                       <div class="field-error">{{ form.email.errors }}</div>
                    {% endif %}

                    <label for="id_website">{{ form.website.label_tag }}</label>
                    {{ form.website }}
                  {% if form.website.errors %}
                     <div class="field-error">{{ form.website.errors }}</div>
                  {% endif %}
                </fieldset>
                {{ form.parent_id.as_hidden }}

            <div class="actions">
              <button class="button" type="submit">Upload!</button>
            </div>
        </form>
    </section>

    <section id="contribute-ok" class="step {% if contribution.has_panels %}active{% endif %}">
        <div class="user-content">
            <h1>{{ page2.title|safe }}</h1>
            {{ page2.content|safe }}
        </div>
    </section>
    {% endif %}
{% endblock content %}

{% block extra_javascript %}
<script src="{% static "js/contribute-min.js" %}" type="text/javascript"></script>
{% endblock extra_javascript %}

{% block icanhaz_templates %}
    {% include "js/comic_single.html" %}
{% endblock icanhaz_templates %}
