{% load thumbnail static %}

<article class="comic lazy">
  <h1>{{ comic.artist }} {% if comic.parent %}<small>following {{ comic.parent.artist }}</small>{% endif %}</h1>
  <a href="{{ comic.get_absolute_url }}">
    {% if comic.panel1 %}
      <div class="panel-wrap"><img class="panel" data-original="{{ comic.panel1.midsize.url }}" data-original-set="{{ comic.panel1.midsize.url }} 1x, {{ comic.panel1.midsize_hd.url }} 2x" width="{{ comic.panel1.midsize.width }}" height="{{ comic.panel1.midsize.height }}"></div>
    {% endif %}

    {% if comic.panel2 %}
      <div class="panel-wrap"><img class="panel" src="{% static "img/panel-placeholder.png" %}" data-original="{{ comic.panel2.midsize.url }}" data-original-set="{{ comic.panel2.midsize.url }} 1x, {{ comic.panel2.midsize_hd.url }} 2x" width="{{ comic.panel2.midsize.width }}" height="{{ comic.panel2.midsize.height }}"></div>
    {% endif %}

    {% if comic.panel3 %}
      <div class="panel-wrap"><img class="panel" src="{% static "img/panel-placeholder.png" %}" data-original="{{ comic.panel3.midsize.url }}" data-original-set="{{ comic.panel3.midsize.url }} 1x, {{ comic.panel3.midsize_hd.url }} 2x" width="{{ comic.panel3.midsize.width }}" height="{{ comic.panel3.midsize.height }}"></div>
    {% endif %}
  </a>
</article>
