
{% extends "base.html" %}

{% block body_id %}artists{% endblock %}
{% block title %}{{ page.title }}{% endblock %}

{% block content %}
  <div class="user-content">
      <h1>{{ page.title }}</h1>
      <form action="{% url 'artists' %}" class="artist-search">
        <input type="text" name="term" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Quick search...">
        {% csrf_token %}
      </form>
    </div>

  <div class="artists-list">
    <ul>
    {% for artist in artist_set %}
      {% if q == '' %}
        {% ifchanged %}
          {% if artist.last_name %}
            <li class="letter"><h2>{{ artist.last_name|slice:"1"|upper }}</h2></li>
          {% endif %}
        {% endifchanged %}
      {% endif %}
      <li><h3 class="name"><a title="View in Catacombs" href="{% url 'artist-in-catacombs' artist.id 1 %}">{{ artist.name_reversed }}</a>
      {% if artist.num_comics > 1 %}
        {% for comic in artist.comics.all %}
          {% if forloop.counter > 1 %}
            <a class="button bubble" title="View in Catacombs" href="{% url 'artist-in-catacombs' artist.id forloop.counter %}">{{ forloop.counter }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
      </h3>
        {% if artist.url %}
          <a class="button artist-url" target="_blank" href="{{ artist.url }}">Website</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
