{% extends "base.html" %}

{% block body_id %}artists{% endblock %}

{% block content %}
  <div class="user-content">
      <h1>{{ page.title }}</h1>
      {# {{ page.content|safe }} #}
    </div>

  <div class="artists-list">
    <ul>
    {% for artist in artist_set %}
      {% ifchanged %}<li class="letter"><h2>{{ artist.name|slice:"1"|upper }}</h2></li>{% endifchanged %}
      <li><h3 class="name"><a title="View in Catacombs" href="/artist_in_catacombs/{{ artist.id }}/">{{ artist.name }}</a></h3>
        {% if artist.url %}
          <a class="button artist-url" target="_blank" href="{{ artist.url }}">Website</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
