{% load static %}
<html lang="en">
<!DOCTYPE html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Arbutus+Slab|Orienta' rel='stylesheet' type='text/css'>
    <meta charset='utf-8'>
    <title>{% block title %}Trubble Club presents{% endblock %} : The Infinite Corpse</title>
    <link rel="author" href="/humans.txt">
    <link rel="stylesheet" href="{% static "css/application.css" %}" type="text/css" media="screen">
    <link rel="apple-touch-icon" href="{% static "img/touch-icon.png" %}">
    <meta name="apple-mobile-web-app-title" content="Infinite Corpse">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    {{ analytics_code }}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
<div id="wrapper">
    {% block header %}
        {% include "shared/header.html" %}
    {% endblock header %}
    <main id="content">
        {% block content %}{% endblock content %}
    </main>
</div>
{% block footer %}
    {% include "shared/footer.html" %}
{% endblock footer %}

<script src="{% static "js/application-min.js" %}" type="text/javascript"></script>

{% block extra_javascript %}{% endblock extra_javascript %}
{% block icanhaz_templates %}{% endblock icanhaz_templates %}
</body>
</html>
