{% extends "base.html" %}
{% load thumbnail %}

{% block body_id %}homepage{% endblock %}

{% block header %}
    <header class="main"><div class="wrap">
        <h2 class="tc-presents">Trubble Club Presents</h2>
        <h1 id="logo"><a href="/">Corpsey</a></h1>
        <h2 class="intro">A CHAIN COMIC BY <strong>{{ num_artists }}</strong> ARTISTS</h2>
        <p class="center"><a class="button" href="/random_starter/">Enter the Catacombs</a></p>
        </nav>
    </div></header>
{% endblock header %}

{% block content %}
  <div class="recent-contributors">
    <h2>Most Recent Contributors</h2>
    {% for comic in comic_set %}
      <article class="comic">
        <h1>{{ comic.artist }} {% if comic.parent %}<small>following <a href="/catacombs/{{ comic.parent.id }}/{{ comic.id }}/">{{ comic.parent.artist }}</a>{% endif %}</h1>
        <a href="{{ comic.get_absolute_url }}">{% if comic.panel1 %}<img class="panel" src="{{ comic.panel1.midsize.url }}" width="{{ comic.panel1.midsize.width }}" height="{{ comic.panel1.midsize.height }}" data-hd-src="{{ comic.panel1.midsize_hd.url }}">{% endif %}
        {% if comic.panel2 %}<img class="panel" src="{{ comic.panel2.midsize.url }}" width="{{ comic.panel1.midsize.width }}" height="{{ comic.panel1.midsize.height }}" data-hd-src="{{ comic.panel2.midsize_hd.url }}">{% endif %}
        {% if comic.panel3 %}<img class="panel" src="{{ comic.panel3.midsize.url }}" width="{{ comic.panel1.midsize.width }}" height="{{ comic.panel1.midsize.height }}" data-hd-src="{{ comic.panel3.midsize_hd.url }}">{% endif %}</a>
      </article>
    {% endfor %}
  </div>
{% endblock content %}

{% block extra_javascript %}
  <script src="{{ STATIC_URL }}js/home.js" type="text/javascript"></script>
{% endblock extra_javascript %}
