{% extends "base_email.html" %}

{% block title %}Your Infinite Corpse strip is approved!{% endblock title %}

{% block body %}
    <h2>Hello {{ name }}!</h2>

    <p>Thanks for contributing to The Infinite Corpse! We're really happy to have you included in the story.</p>

    <p>Your strip has been approved and can be found here:</p>

    <p>http://corpsey.trubbleclub.com{{ comic_url }}</p>

    <p>We'd love it if you could help spread the word. Do you know an artist you'd like to follow you? It'd be great if you could ask them to follow your comic! Send them this link http://corpsey.trubbleclub.com/contribute/?parent={{ comic.id }}</p>

    <p>And remember you can contribute as many times as you like. We'd love to have more repeat authors involved.</p>

    <p>Thank you,<br>
    <b><i>Trubble Club</i></b></p>
{% endblock body %}
