{% extends "base_email.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block body %}
    <h2>Hello!</h2>

    <p>The deadline to submit your panels will expire tomorrow at midnight CST!</p>
 
    <p>To upload your panels for review, go to this link:</p>

    <p><a href="http://corpsey.trubbleclub.com/contribute/upload/{{ contribution.code }}">http://corpsey.trubbleclub.com/contribute/upload/{{ contribution.code }}</a></p>

    <p><b><i>- Trubble Club</i></b></p>	
{% endblock body %}
