{% load mptt_tags %}

<header class="main"><div class="wrapper">
    <h2 class="tc-presents">Trubble Club Presents</h2>
    <h1 id="logo"><a href="/">Corpsey</a></h1>
    <nav class="main">
        <ul>
            <li><a href="/about/" title="About">About</a></li>
            <li><a href="/contribute/" title="Contribute">Contribute</a></li>
            <li><a href="/random/" title="Random">Random</a></li>
        </ul>
    </nav>

    <ul class="tree">
        {% if comics %}
        {% recursetree comics %}
            <li {% if active_comics and node in active_comics %}class="active"{% endif %}>
                <a href="{{ node.get_absolute_url }}">{{ node }}</a>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
        {% endif %}
    </ul>
</div></header>