<header class="main"><div class="wrapper">
    <h2 class="tc-presents">Trubble Club Presents</h2>
    <h1 id="logo"><a href="/">Corpsey</a></h1>
    <nav class="main">
        <ul>
            <li><a href="/about/" title="About">About</a></li>
            <li><a href="/contribute/" title="Contribute">Contribute</a></li>
            <li><a href="/random/" title="Random">Random</a></li>
        </ul>
    </nav>
    {% comment %}
     {% load mptt_tags %}
    <ul>
        {% recursetree comics %}
            <li>
                {{ node.title }}
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
    {% endcomment %}
</div></header>