{% verbatim %}
<script id="uturn_single" type="text/html">
<article class="comic single uturn {{ extra_class }} active" data-comic-id="{{ uturn_id }}" data-portal-to-id="{{ portal_to_id }}">
  <h1>Trubble Club</h1>
  <ul>
    <li class="panel-wrap"><img width="330" height="330" class="panel uturn-pad" src="/static/img/uturn-pad-1.png"></li>
    <li class="panel-wrap"><img width="330" height="330" class="panel" src="{{ panel }}" srcset="{{ panel }} 1x, {{ panel_hd }} 2x"></li>
    <li class="panel-wrap"><img width="330" height="330" class="panel uturn-pad" src="/static/img/uturn-pad-2.png"></li>
  </ul>
</article>
</script>
{% endverbatim %}
