/*
Corpsey
*/

html, body { height: 100%; }
body {
    background: #fff;
    font: 14px/1.4em 'Arbutus Slab', helvetica, sans-serif;
    color: #444;
}
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* general typography */

h1 {
    font: 24px/1.2em 'Arbutus Slab', helvetica, sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin: 1em 0;
}
h2 {
    font: 18px/1.2em 'Arbutus Slab', helvetica, sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin: 1em 0;
}

/* multiple usables */

.button, nav li a {
    font: 12px/1.2em 'Arbutus Slab', helvetica, sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    background:#444; 
    color: #eee;
    padding: 6px 12px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    white-space: nowrap;
    display:inline-block;
    margin-bottom:4px;
    text-decoration: none;
    border:0;
    cursor:pointer;
}
nav li a:hover,
.button:hover { 
    text-decoration:none; 
    background:#555; 
}
nav ul {
    text-align: center;
}
nav ul li {
    display: inline-block;
}

.tree { text-align: left; padding-left: 190px; }
.tree a {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #ccc;
    text-indent: -9999em;
    margin: 4px;
}
.tree a:hover,
.tree li.active>a {
    background: #666;
}
.tree ul { 
    display: inline-block; 
}

/* general layout */

#wrapper { overflow: hidden; }
#content { margin-left: 440px; }
header.main { 
    width: 430px;
    float: left;
    background: #eee;
}
header.main .wrapper {
    padding:20px 0;
    text-align: center;
    min-height: 500px;
}
#logo {
    width: 411px;
    height: 174px;
    background: url('/static/img/logo-sm-01.png') no-repeat;
    text-indent: -9999em;
    margin:8px auto; 
}
#logo a {
    display: block;
    width: 100%;
    height: 100%;
}

footer.main {
    position: relative;
    height: 580px;
    background: url('/static/img/footer.png') bottom center no-repeat;
}
a#clixel {
    position: absolute;
    bottom: 20px;
    right:10%;
    width: 53px;
    height: 20px;
    text-indent: -9999em;
    display: block;
    background: url('/static/img/clixel.gif') no-repeat;
}


/* homepage */

#homepage #content { margin-left: 0; }
#homepage nav li a {
    font: 18px/1.2em 'Arbutus Slab', helvetica, sans-serif;
    padding: 8px 16px;
}
#homepage header.main {
    float: none;
    width: auto;
}
#homepage header.main .wrap {
    width: 1170px;
    margin:0 auto 40px;
    padding:20px;
    text-align: center;
}
#homepage header.main h2 {
    text-transform: uppercase;
}
#homepage header.main .intro {
    width: 550px;
    margin: 1em auto; 
    font: 16px/1.3em 'Arbutus Slab', helvetica, sans-serif;
}
#homepage #logo { 
    width: 655px;
    height: 275px;
    background: url('/static/img/logo-01.png') no-repeat;
    text-indent: -9999em;
    margin:8px auto; 
}
#homepage 
.recent-contributors {
    width: 1150px;
    margin: 10px auto;
    text-transform: uppercase;
}
.recent-contributors h2 {
    text-align: center;
    color: #ccc;
}
.recent-contributors article:nth-child(3) { opacity: .8; }
.recent-contributors article:nth-child(4) { opacity: .6; }
.recent-contributors article:nth-child(5) { opacity: .4; }
.recent-contributors article:nth-child(6) { opacity: .2; }
.comic h1 {
    font: 18px/1.2em 'Arbutus Slab', helvetica, sans-serif;
    margin: .5em 0 0;
}
#homepage .comic {
    margin-bottom: 60px;
}

/* catacombs */

#catacombs { position: relative; }
.comic ul,
.comic li { display: inline; }
.comic.single { display: inline;}
.comic.single h1 { position: absolute;}
#catacombs { padding-left: 20px; margin: 30px 0 0 10px; }
#catacombs .comic h1 { color: #999; }
#catacombs .comic_1 h1 {
    -webkit-transform: rotate(270deg); 
    -webkit-transform-origin: right top;
    transform: rotate(270deg); 
    transform-origin: right top;
    right: 100%;
    top: 80px;
    white-space: nowrap;
}
#catacombs .comic_2 h1 {
    -webkit-transform: rotate(90deg); 
    -webkit-transform-origin: left top;
    transform: rotate(90deg); 
    transform-origin: left top;
    left: 810px;
    bottom: 200px;
    white-space: nowrap;
}

/* contribute */
label {
    display: block;
    font: 14px/1.2em "myriad pro", helvetica, sans-serif;
    text-transform: uppercase;
    margin: 1em 0 0;
}
.contribute input[type=text] {
    font: 16px/1.2em "myriad pro", helvetica, sans-serif;
    color: #fff;
    width: 300px;
    background: #000;
    border:0;
    padding: 6px; 
}
.contribute input[type=submit] {
    font: 16px/1em "myriad pro", helvetica, sans-serif;
    padding: 10px 60px 8px;
    background: #666;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    margin: 1em 0;
}
.contribute input[type=submit]:hover {
    background: #7a7a7a;
}
