#wrapper{min-height:1210px;}
#catacombs{min-height:990px;max-width:660px;}#catacombs.one-comic-showing{min-height:690px;}
#homepage h2{font:16px/1.2em 'Arbutus Slab',helvetica,sans-serif;}
#homepage header.main .intro{width:300px;font:14px/1.3em 'Arbutus Slab',helvetica,sans-serif;}
#homepage #logo{width:550px;height:238px;background-size:550px 238px;}
#homepage .recent-contributors{width:760px;}
#homepage .comic{margin-bottom:30px;}#homepage .comic img{width:250px;height:250px;}
#homepage .comic h1{font:18px/1.2em 'Arbutus Slab',helvetica,sans-serif;}#homepage .comic h1 small{font:12px/1.2em 'Arbutus Slab',helvetica,sans-serif;}
#artists #content{width:400px;}#artists #content .artists-list{-webkit-columns:1;margin:20px auto;}
body.static #content{width:65%;}
#contribute-page .comic.single{width:250px;margin:0 auto;}#contribute-page .comic.single img{width:250px;height:250px;}
#contribute-page #content{width:65%;}
#about #content{width:65%;}
