/*
Corpsey midsize 768
*/

#catacombs {
    min-height: 990px;
    &.one-comic-showing {
        min-height: 690px;
    }
    max-width: 660px;
}

#homepage {
    h2 {
        font: 16px/1.2em 'Arbutus Slab', helvetica, sans-serif;
    }
    header {
        &.main {
            .intro {
                width: 300px;
                font: 14px/1.3em 'Arbutus Slab', helvetica, sans-serif;
            }
        }
    }
    #logo { 
        width: 550px;
        height: 238px;
        background-size: 550px 238px;
    }
    .recent-contributors {
        width: 760px;
    }
    .comic {
        margin-bottom: 30px;
        img {
        	width: 250px;
        	height: 250px;
        }
        h1 {
            font: 18px/1.2em 'Arbutus Slab', helvetica, sans-serif;
            small {
                font: 12px/1.2em 'Arbutus Slab', helvetica, sans-serif;
            }
        }
    }
}
