#catacombs{min-height:990px;max-width:660px;}
#homepage h2{font:16px/1.2em 'Arbutus Slab',helvetica,sans-serif;}
#homepage header.main .intro{width:300px;font:14px/1.3em 'Arbutus Slab',helvetica,sans-serif;}
#homepage #logo{width:550px;height:237px;background-size:550px 237px;}
#homepage .recent-contributors{width:760px;}
#homepage .comic{margin-bottom:30px;}#homepage .comic img{width:250px;height:250px;}
#homepage .comic h1{font:18px/1.2em 'Arbutus Slab',helvetica,sans-serif;}#homepage .comic h1 small{font:12px/1.2em 'Arbutus Slab',helvetica,sans-serif;}
