/*
Corpsey smaller
*/

@import 'mixins.less';

#catacombs {
    min-height: 1868px;
    &.one-comic-showing {
        min-height: 928px;
    }
    &.is-uturn {
        min-height: 1278px;
    }
    max-width: 300px;
}
.button {
	letter-spacing: .3em;
}
#homepage {
    #mobile-nav {
        display: none;
    }
    .bone-divider {
        width: 330px;
        height: 94px;
        background-size: 330px 94px;
        &.odd {
            background-image: url('/static/img/bone-divider-2.png');
        }
    }
    header {
        .buttons {
            overflow: hidden;
            padding: 0;
            li {
                width: auto;
                display: block;
                float: none;
                margin: 10px auto;
                a {
                    height: 24px;
                    font: 14px/1.2em 'Orienta', sans-serif;
                }
            }

        }
        &.main {
            padding-top: 0;
            .wrap {
                padding: 20px 10px 10px;
                margin-bottom: 0;
            }
            .intro {
                width: 300px;
                font: 14px/1.3em 'Arbutus Slab', helvetica, sans-serif;
            }
        }
    }
    #logo { 
        width: 300px;
        height: 130px;
        background-size: 300px 130px;
    }
    .recent-contributors {
        width: auto;
    }
    .comic {
        margin-bottom: 30px;
        img {
        	width: 300px;
        	height: 300px;
        	display: block;
        	float: none;
        	margin: 4px auto;
        }
        h1 {
            small {
                font: 10px/1.2em 'Arbutus Slab', helvetica, sans-serif;
                display: block;
                margin-top: 4px;
            }
            text-align: center;
        }
    }
}
.contribution,
.comic {
	img {
		width: 300px;
		height: 300px;
	}
	&.single {
		h1 {
			display: block;
            text-align: center;
            font: 18px/1.2em 'Arbutus Slab', helvetica, sans-serif;
            width: 300px;
            margin: 12px 0 4px;
		}
	}
}
h1.comic_1,
h1.comic_2 {
	display: none !important;
}

.comic-nav {
    position: static;
    right:auto;
    top: auto;
    &.prev {
        top: auto;
        &.stuck {
            top: auto;
        }
    }
    &.next {
        &.stuck {
            top: auto;
        }
    }
    &.loading {
        opacity: .3;
    }
    .button {
        width: 106px;
    }
    &.stuck {
        position: static;
    }
}
nav.main {
	height: 34px;
	ul {
        top: 34px;
        left: 0;
        width: 100%;
        z-index: 10000;
        background: @bluegray;
        padding: 15px 0;
        li {
            display: block;
            width: 100%;
            text-align: center;
            height: 40px;
            a {
                font: 16px/26px 'Orienta', sans-serif;
            }
            #get-artist {
                font: 16px/26px 'Orienta', sans-serif;
                width: 130px;
                text-align: center;
            }
        }
	}
	h1#textlogo {
        a {
            float: none;
            margin: 0 auto;
            height: 34px;
        }
	}
}
ul.ui-autocomplete {
    width: 100% !important;
    left: 0 !important;
    li {
        font: 16px/1.5em 'Orienta', sans-serif;
        a {
            font: 14px/1.3em 'Orienta', sans-serif;
            padding: 12px;
        }
    }
}
#artists {
    #content {
        width: 300px;
        h3.name {
            width: 200px;
        }
    }
}

body.static #content {
    width: 85%;
}

#contribute-page {
    form.contribute {
        p.note,
        input[type=text],
        input[type=password],
        button {
            width: 250px;
        }
    }
    #content {
        width: 85%;
    }
}

/* about */
#about {
    #content {
        width: 85%;
    }
}
.notice {
    width: 250px;
}
#mobile-nav {
    display: block;
}
#nav-random {
    display: block;
}

/* contributions */
#contributions {
    #content {
        padding: 10px;
        text-align: center;
    }
    .comic {
        padding: 0;
        border: none;
    }
    .comic,
    .contribution {
        img {
            margin: 4px auto;
            float: none;
        }
    }
}