#catacombs{max-width:300px;}
.button{letter-spacing:.3em;}
#homepage header a.button{font:14px/1.2em 'myriad pro',helvetica,sans-serif;letter-spacing:.2em;padding:6px 10px 6px 16px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}
#homepage header.main .intro{width:300px;font:14px/1.3em 'Arbutus Slab',helvetica,sans-serif;}
#homepage #logo{width:300px;height:129px;background-size:300px 129px;}
#homepage .recent-contributors{width:auto;}
#homepage .comic{margin-bottom:30px;}#homepage .comic img{width:300px;height:300px;display:block;float:none;margin:4px auto;}
#homepage .comic h1{text-align:center;}#homepage .comic h1 small{font:10px/1.2em 'Arbutus Slab',helvetica,sans-serif;display:block;margin-top:4px;}
.comic img{width:300px;height:300px;}
.comic.single h1{display:block;}
h1.comic_1,h1.comic_2{display:none !important;}
.comic-nav{position:static;right:auto;top:auto;}.comic-nav.prev{top:auto;}.comic-nav.prev.stuck{top:auto;}
.comic-nav.next.stuck{top:auto;}
.comic-nav.loading{opacity:.3;}
.comic-nav .button{width:106px;}
.comic-nav.stuck{position:static;}
nav.main{height:34px;}nav.main ul{display:none;}
nav.main h1#textlogo{padding:4px 6px 0 20px;text-align:center;}nav.main h1#textlogo a{padding:0 0 0 57px;margin-left:-20px;}
ul.tree{display:none;}
